body{
	background-image:url( ../img/imagen-inicio.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}


#in1{

	margin-top:70px ;
	height: 60px;
	width: 350px;
	font-size: 25px;
	text-align: center;
	border-radius: 20px;
	border:5px hidden  green; 
}

.pantalla-inicio{
  background-image: url(../img/fondo3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.nombre{
	margin-top: 200px;
	color: #00050c;  
}

#boton1{
	margin-top:30px ;
	margin-left: 550px;
    width:250px;
    height:40px;
    font-size: 23px;
}

#saludar{
	color: #00050c;
	text-align: center;
}

.introduccion1{
   color: #025cdb;
}
.introduccion2{
	color: #033984;
	margin-left: 30px;
	margin-top: 30px;
	margin-top: 10px;
}
.contenedor1{
    background-image: linear-gradient(to bottom right,#0ef4b3,#428cf4,white);	
    border:9px double black;
    border-radius: 20px;
    margin-bottom: 15px;

}
.animales{
	width:250px;
	height: 50px;
	margin-left: 40px;
	margin-bottom: 2px;
	margin-right: 40px;
	margin-top: 60px;
	border-radius: 20px;
}
#fotoAniales{
	width: 300px;
	margin-left: 20px;
	border-radius: 25px;
    margin-bottom:20px; 
    margin-top:20px; 
}
.contenedor2{
   background-image: linear-gradient(to bottom right, red , yellow,green) ;	
    border:9px double black;
   border-radius: 20px;
   margin-bottom: 15px;
}

.animes{
	width:250px;
	height: 50px;
	margin-left: 60px;
	margin-bottom: 2px;
	margin-right: 50px;
	margin-top: 60px;
	border-radius: 20px;
}
#fotoAnime{
	width: 300px;
	margin-left: 30px;
	border-radius: 25px;
    margin-bottom:20px; 
    margin-top:20px; 
}

.contenedor3{
	background-image: linear-gradient(to bottom right,#0ef4b3,#1760dd,#428cf4,black);
	border:9px double black;
    border-radius: 20px;
    margin-bottom: 15px;
}
.peliculas{
	width:250px;
	height: 50px;
	margin-left: 60px;
	margin-bottom: 2px;
	margin-right: 50px;
	margin-top: 60px;
	border-radius: 20px;
}
#fotoPelicula{
	width: 300px;
	margin-left: 30px;
	border-radius: 25px;
    margin-bottom:20px; 
    margin-top:20px; 
}

.contenedor4{
	background-image: linear-gradient(to bottom right,red,yellow,#0bba19,black) ;
    border:9px double black;
    border-radius: 20px;
    margin-bottom: 15px;
}
.series{
	width:250px;
	height: 50px;
	margin-left: 60px;
	margin-bottom: 2px;
	margin-right: 50px;
	margin-top: 60px;
	border-radius: 20px;
}
#fotoSeries{
	width: 300px;
	margin-left: 30px;
	border-radius: 25px;
    margin-bottom:20px; 
    margin-top:20px; 
}
.contenedor5{
    background-image: linear-gradient(to bottom right,#0ef4b3,#1760dd,#428cf4,black) ;
    border:9px double  black;
    border-radius: 20px;
    margin-bottom: 15px;
}
.videojuegos{
	width:250px;
	height: 50px;
	margin-left: 60px;
	margin-bottom: 2px;
	margin-right: 50px;
	margin-top: 60px;
	border-radius: 20px;
} 
.fotoVideoJuegos{
	width: 300px;
	margin-left: 30px;
	border-radius: 25px;
    margin-bottom:20px; 
    margin-top:20px; 
}

p{
	color: black;
	text-align: center;
}



.pntalla-juejoAnimales{
	background-color: green; 
}